body {
	padding: 0;
	margin: 0;
	background: #eee;
}

svg, canvas {
	background: white;
}

svg text {
	font-size: 4px;
	fill: black;
	pointer-events: none;
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

svg .shape {
	fill: #aaa;
	stroke: #444;
}

svg .unseen.shape {
	fill: #eee;
	stroke: #aaa;
}

svg .shape.static {
	fill: none;
	stroke: black;
}

svg .shape.selected {
	stroke: red;
	stroke-width: 1;
}

div#header #options {
}

div#header {
	background: #333;
	color: #ddd;
	font-size: 10pt;
	padding: 5px 10px;
}

div#header #options {
	margin-bottom: 1em;
}

div.opt-field {
	display: inline-block;
	vertical-align: top;
	margin: 0px 4px;
	border: 1px solid #555;
	padding: 4px 8px;
}

div.opt-field .opt {
	margin-left: 1em;
}

button#show-hide {
	margin-right: 10em;
	display: inline-block;
}